<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Shadows+Into+Light+Two" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>To Do List</title>
</head>

<body>
    <section class="wrapper">
        <form class="entry" action="/toDoList" method="post">
            <input class="input" type="text" name="item" placeholder="I need to..." required>
            <button class="button" type="submit">+</button>
        </form>
        <h1>To Do:</h1>
        <wrapper>
            <ul class="todo-lists">
                {{#item}}{{^is_complete}}

                <li class="item">
                    <section class="todo-list">
                        <form action="/completed" method="POST">
                            <button class="doneButton" name="item" type="submit" value="{{item}}">✓</button>
                        </form>
                        <form action="/deleteOne" method="POST">
                            <button class="doneButton" name="item" value="{{item}}">X</button> {{item}}
                        </form>
                    </section>
                    {{/is_complete}}{{/item}}
                </li>


            </ul>
        </wrapper>
        <h1>Done:</h1>

        <ul>
            {{#item}} {{#is_complete}}
            <li class="done">
                {{item}}
            </li>
            {{/is_complete}}{{/item}}
        </ul>
        <form action="/delete" method="POST">
            <button class="doneButton" name="item" type="submit" value="{{item}}">Clear All</button></form>

    </section>
</body>

</html>